In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 06: Census Data

## Census ##

In [2]:
full = Table.read_table('data/nc-est2017-agesex-res.csv')
full

SEX  | AGE  | CENSUS2010POP | ESTIMATESBASE2010 | POPESTIMATE2010 | POPESTIMATE2011 | POPESTIMATE2012 | POPESTIMATE2013 | POPESTIMATE2014 | POPESTIMATE2015 | POPESTIMATE2016 | POPESTIMATE2017
0    | 0    | 3944153       | 3944160           | 3951454         | 3962971         | 3926486         | 3931208         | 3954725         | 3984294         | 3955377         | 3939295
0    | 1    | 3978070       | 3978090           | 3957695         | 3966056         | 3977264         | 3942441         | 3948689         | 3973189         | 4004017         | 3975252
0    | 2    | 4096929       | 4096939           | 4090616         | 3970491         | 3978648         | 3991295         | 3958296         | 3965536         | 3990991         | 4021775
0    | 3    | 4119040       | 4119051           | 4111682         | 4101643         | 3981321         | 3990699         | 4005424         | 3973376         | 3981326         | 4006755
0    | 4    | 4063170       | 4063186           | 4077326         | 4121485         | 4111444         | 3992298         | 4003684         | 4019335         | 3987866         | 3995783
0    | 5    | 4056858       | 4056872           | 4064480         | 4087056         | 4131048         | 4121794         | 4004373         | 4016658         | 4032787         | 4001318
0    | 6    | 4066381       | 4066412           | 4072889         | 4074516         | 4096654         | 4141144         | 4133300         | 4016732         | 4029444         | 4045532
0    | 7    | 4030579       | 4030594           | 4042967         | 4082870         | 4084201         | 4106863         | 4152751         | 4145829         | 4029700         | 4042379
0    | 8    | 4046486       | 4046497           | 4025495         | 4052889         | 4092669         | 4094674         | 4118570         | 4165408         | 4158968         | 4042838
0    | 9    | 4148353       | 4148369           | 4125317         | 4035461         | 4062842         | 4103296         | 4106389         | 4131317         | 4178605         | 4172171
... (296 rows omitted)

**Question 1.** List 3 things that you notice form the first 10 rows of the `full` table.

**Question 2.** Select only the columns labeled `SEX`, `AGE`, `CENSUS2010POP`, `POPESTIMATE2017`. Save this to `partial`.

In [3]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2017')
partial.show(4)

**Question 3.** Relabel `CENSUS2010POP`, `POPESTIMATE2017` to 2010 and 2017 respectively.

In [4]:
simple = partial.relabeled(2, '2010').relabeled(3, '2017')
simple.show(4)

List three things that you would like to know or wonder about NC population in 2010 and 2017.

In [5]:
simple.sort('AGE')

SEX  | AGE  | 2010    | 2017
0    | 0    | 3944153 | 3939295
1    | 0    | 2014276 | 2015150
2    | 0    | 1929877 | 1924145
0    | 1    | 3978070 | 3975252
1    | 1    | 2030853 | 2031718
2    | 1    | 1947217 | 1943534
0    | 2    | 4096929 | 4021775
1    | 2    | 2092198 | 2056625
2    | 2    | 2004731 | 1965150
0    | 3    | 4119040 | 4006755
... (296 rows omitted)

In [6]:
simple.sort('AGE', descending=True)

SEX  | AGE  | 2010      | 2017
0    | 999  | 308745538 | 325719178
1    | 999  | 151781326 | 160408119
2    | 999  | 156964212 | 165311059
0    | 100  | 53364     | 86248
1    | 100  | 9162      | 17894
2    | 100  | 44202     | 68354
0    | 99   | 32266     | 50465
1    | 99   | 6073      | 11894
2    | 99   | 26193     | 38571
0    | 98   | 45900     | 71123
... (296 rows omitted)

## Visualization ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))
everyone = no_999.where('SEX', 0).drop('SEX')

In [ ]:
everyone

In [ ]:
everyone.plot('AGE', '2010')

In [ ]:
everyone.plot('AGE')