In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lesson 09: Functions ##

## Functions ##

In [2]:
def triple(x):
    return 3 * x

In [3]:
triple(3)

9

In [4]:
num = 4

In [5]:
triple(num)

12

In [6]:
triple(num * 5)

60

### Note About Scopes

In [7]:
x

NameError: name 'x' is not defined

In [8]:
x = 5

In [9]:
triple(2 * x)

30

In [ ]:
x

### Type Agnostic

In [10]:
triple('ha')

'hahaha'

In [11]:
triple(np.arange(4))

array([0, 3, 6, 9])

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [12]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    return hypot_squared ** 0.5

In [13]:
hypotenuse(9, 12)

15.0

In [14]:
hypotenuse(2, 2)

2.8284271247461903

In [16]:
2*(2)**.5

2.8284271247461903

## Apply ##

In [17]:
office = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
office

Person  | Birth Year
Jim     | 1985
Pam     | 1988
Michael | 1967
Creed   | 1904

In [19]:
def age_in_2022(x):
    return 2022 - x

In [20]:
age_in_2022(1975)

47

In [23]:
age_in_2022(2013)

9

In [24]:
office.apply(age_in_2022, 'Birth Year')

array([ 37,  34,  55, 118])

In [25]:
def greeting(person):
    return 'Dunder Mifflin, this is ' + person

In [26]:
greeting('Pam')

'Dunder Mifflin, this is Pam'

In [27]:
greeting('Erin')

'Dunder Mifflin, this is Erin'

In [28]:
office.apply(greeting, 'Person')

array(['Dunder Mifflin, this is Jim', 'Dunder Mifflin, this is Pam',
       'Dunder Mifflin, this is Michael', 'Dunder Mifflin, this is Creed'],
      dtype='<U31')

In [33]:
def name_and_age(name, year):
    age = 2022 - year
    return name + ' is ' + str(age)

In [34]:
office.apply(name_and_age, 'Person', 'Birth Year')

array(['Jim is 37', 'Pam is 34', 'Michael is 55', 'Creed is 118'],
      dtype='<U13')